# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
migrations
venv
env

# General #
*.egg-info/
*.egg

# Others #
.antlr
.session
.DS_Store
build
.vscode
js.session
.idea
mydatabase
*Zone.Identifier
*.bin


*.rdb
celerybeat-schedule*
